<!DOCTYPE html>
<html>
<head>
    <title>Letter of Recommendation Generator</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/table.css"/>
    <link rel="stylesheet" type="text/css" href="/css/modal.css"/>
    <link rel="stylesheet" type="text/css" href="/css/recommender-dashboard.css"/>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<div class="body">
    <div id="rec-header">
        <p class="title">Recommendations</p>
        <% if (templates.length) { %>
            <div class="add-btn" onclick="openModal()">+ Create Recommendation</div>
        <% } %>
    </div>
    <div id = "DefaultEmailModal" Class="modal">
        <div class="modal-content">
            <div class="close-container">
                <span class="close" onclick="closeSaveModal()">&times;</span>
            </div>
            <p class="modal-title">Save it as a default template?</p>
            <br>
            <br>
            <button id = "yes" onclick="saveDefaultTemplate()"> Yes </button>
            <button id = "no" onclick="closeSaveModal()"> No </button>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div id="recommendations-modal" class="modal-content">
            <div class="close-container">
                <span class="close" onclick="closeModal()">&times;</span>
            </div>
            <p class="modal-title">Send Email</p>
            <div class = "modal-background">
                <form class="input-form" method="POST" action="/recommender-dashboard">
                    <div class="input-container">
                        <select class="input-dropdown" name="templateId" id="template-select">
                            <option value="" disabled selected>Select a template to send</option>
                            <% for (var template of templates) { %>
                            <option class="template-select-option" value=<%= template._id %>><%= template.name %></option>
                            <% } %>
                        </select>
                        <div class="email-input">
                            <p class="hint">To  </p>
                            <input class="input-text" type="text" name="email">
                        </div>
                        <div class="email-input">
                            <p class="hint">Subject </p>
                            <input class="input-text" id="subject" type="text" name="subject_text" value="<%= subject%>" >
                        </div>
                        <textarea id="body-text" name="body_text"><%= body%></textarea>
                    </div>
                    <div class = "email-buttons">
                        <button id = "Save" class="input-submit" type="button" onclick="openSaveDefaultEmailModal()" > Save email as default</button>
                        <input class="input-submit" type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="recommendations">
        <table id="table0">
            <thead>
            <tr>
                <td><a href="javascript:sortByTime(0)">Timestamp</a></td>
                <td><a href="javascript:sortByEmail(0)">Name</a></td>
                <td><a href="javascript:sortByOrg(0)">Organization</a></td>
                <td><a href="javascript:sortByTemplate(0)">Template</a></td>
                <td class="center"><a href="javascript:sortByStatus(0)">Form Status</a></td>
                <td class="icons"></td>
            </tr>
            </thead>
            <tbody id="table-body">
                <% if (false) { %>
                <tr>
                    <td colspan="6" style="text-align: center;">No Existing Recommendations</td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <div id="page0">
            <div id="buttons0">
                <button onclick="javascript:prevPage(0)" id="button-prev0">Prev</button>
                <div id="page-numbers0"></div>
                <button onclick="javascript:nextPage(0)" id="button-next0">Next</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/javascripts/recommender-dashboard.js"></script>
</body>
</html>
